<form  dojoAttachPoint="loginForm">
    <div class="${baseClass}_messagePane alert alert-danger" dojoAttachPoint="messageNode">
        <span class="${baseClass}_messageNode">&nbsp;</span>
    </div>

    <div class="form-group">
        <input type="text" class="form-control username" dojoAttachPoint="usernameInput" />
    </div>
    <div class="form-group">
        <input type="password" class="form-control password" dojoAttachPoint="passwordInput" />
    </div>
    <input type="submit" class="btn btn-default submit" dojoAttachPoint="submitButton" />
    <span class="forgotPwd" dojoAttachPoint="forgotPane">
        <a class="forgotPwd" href="#" dojoAttachPoint="forgotLink"></a>
    </span>
</form>