<form  dojoAttachPoint="loginForm">
    <div class="${baseClass}_messagePane">
        <span class="${baseClass}_messageNode" dojoAttachPoint="messageNode">&nbsp;</span>
    </div>
    <div >
        <input type="text" class="form-control username" dojoAttachPoint="usernameInput" />
        <input type="password" class="form-control password" dojoAttachPoint="passwordInput" />
        <input type="submit" class="btn btn-default submit" dojoAttachPoint="submitButton" />
        <div class="forgotPwd" dojoAttachPoint="forgotPane">
            <a class="forgotPwd" href="#" dojoAttachPoint="forgotLink"></a>
        </div>
    </div>
</form>