<form  data-dojo-attach-point="loginFormNode" class="login-form-widget">
    <div class="messagePane alert alert-danger" data-dojo-attach-point="alertMessageNode">
    </div>
    <div class="form-group">
        <label data-dojo-attach-point="usernameLabelNode" class="hidden">${usernameLabel}</label>
        <input type="text" class="form-control username"  autocapitalize="off" autocorrect="off" data-dojo-attach-point="usernameInputNode" autocomplete="off" name="username" placeholder="${userexample}" />
    </div>
    <div class="form-group" data-dojo-attach-point="passwordContainerNode">
        <label data-dojo-attach-point="passwordLabelNode" class="hidden">${passwordLabel}</label>
        <input type="password" data-dojo-attach-point="passwordInputNode" class="form-control password" autocomplete="off" name="password" placeholder="${passexample}" />
    </div>
    <input type="submit" class="btn btn-default submit" data-dojo-attach-point="submitButtonNode" value="${logintext}" />
    <span class="forgotPwd" data-dojo-attach-point="forgotPasswordNode">
        <a class="forgotPwd" href="#" data-dojo-attach-point="forgotPasswordLinkNode"></a>
    </span>
</form>
